a:-webkit-any-link {
    color: #FFFFFF;

}
.containerHeader{
    display: flex;
    padding: 24px;
    background-color: #3F72AF;
    color: #FFFFFF;
    justify-content: space-between;
    line-height: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.leftNavcontainer{
    display: flex;
    width: 100%;
    max-width: 440px ;
}
.logoName{
    font-size: 36px;
}
.continerButtonHeader{
    font-size: 24px;
    padding-left: 65px;
}
.separator{
    padding: 0 8px;
}
.buttonNavNotActive {
}
.buttonNavActive {
    color:#8FB6FF !important;
 }
.addTask{
    font-size: 20px;
    text-decoration: none;

}